./openapi/rpcapi_client
celery>=5.5.3
django-celery-beat>=2.5.0
Django~=5.2
django-debug-toolbar>=4.0.0
django-filter>=25.1
django-simple-history>=3.4
django-stubs>=5.2
djangorestframework>=3.14
drf-spectacular>=0.27
factory-boy>=3.3
gunicorn>=23.0.0
jsonschema>=4.25.1
mozilla-django-oidc>=4.0.0,<5
psycopg2>=2.9.7
pygithub>=2.8.1
pymemcache>=4.0.0
python-json-logger>=2.0.7
responses>=0.25.8
rules>=3.5
